# =============== UNITY ===============

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# MemoryCaptures
MemoryCaptures/

# Recordings
Recordings/

# =============== IDE ===============

# Visual Studio
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# VSCode
.vscode/

# Rider
.idea/

# OS Files
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# =============== MOBILE ===============

# Android
.gradle/
*.apk
*.aab

# iOS
*.xcworkspace
*.xcuserdata
